<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>珲乌高速吉林至机场段改扩建工程管理平台</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<link rel="stylesheet" href="../resources/css/bootstrap.css">
<link rel="stylesheet" href="../resources/css/lqstyle.css">
<script type="text/javascript" src="../resources/js/sweet-alert.min.js"></script>
<link rel="stylesheet" href="../resources/css/sweet-alert.css">
<script type="text/javascript" src="../resources/js/jquery3.3.1.min.js"></script>
<script type="text/javascript" src="../resources/js/c_dtree.js"></script>
<script type="text/javascript" src="../resources/js/common.js"></script>
<script type="text/javascript">
$b = $("#shu_btn");
$("#toggle").on({
	"click": function(){
		$b.toggle();
		return false;
	}
});
$(document).on({
	"click": function(e){
		var src = e.target;

		if(src.id && src.id ==="toggle"){
			return false;
		}else{
			$("#content").hide();
		}
	}
});

</script>
</head>

<body>
<div class="top">
	<div class="topleft">珲乌高速吉林至机场段改扩建工程管理平台</div>
    <div class="topright">
    	<a href="../User/userinfo.action"  target="_black" class="userid">wangdanwei</a><span>你好！</span>
        <a href="../Common/out.action" class="out">安全退出</a>
    </div>
    <div class="top_btn">
    	<span class="lq_btn"><a href="../AsphaltProduceStatistic/asphaltProduceStatistic.action" class="hvr-bounce-to-top focusbtn">沥青</a></span>
    	<span class="sn_btn"><a href="../cementProductionData/cement_ProductionStatistic.action" class="hvr-bounce-to-top">水泥</a></span>
    </div>
</div>
<div class="container-fluid content">
	<div class="row leftbj">
	<div class="leftnav_g">
        	<ul>
            	<li><a href="../AsphaltProduceStatistic/asphaltProduceStatistic.action" class="nav1">生产统计</a></li>
                <li><a href="../Material/material.action" class="nav2">原材料管理</a></li>
                <li>
               	  <a href="../AsphTargetPro/asphTargetPro.action" class="focus_c">配比管理<span>></span></a>
               	  <div class="down">
                        <a href="../AsphTargetPro/asphTargetPro.action">目标配合比</a>
                        <a href="../AsphaltGrading/asphaltGrading.action">级配</a>
                        <a href="../AsphProportion/asphaltProdProportion.action">生产配合比</a>
                    </div>
              </li>
                <li>
               	  <a href="../ProductionPlan/productionPlan.action" class="nav3">生产管理<span>></span></a>
                    <div class="down">
                        <a href="../ProductionPlan/productionPlan.action">生产计划</a>
                        <a href="../AsphaltProductionData/asphaltProductionData.action">生产数据</a>
                    </div>
              </li>
            </ul>
        </div>
        <div class="rightcon">
        	<div class="rightcon_wz">
                <div class="location">您的位置：沥青混凝土拌合站（<span class="banhez" id = "locationText">综合一标</span>） > 配比管理 > 级配</div>
                <!--<div class="time">2018年4月10日 16:28:53</div>-->
            </div>
            <div class="rightcon_content">
            <div class="shunav">
            <div class="shu_btn">
                        <script type="text/javascript">
                        $(function() {
                            $("#toggle").click(function() {
                                $(this).text($("#content").is(":hidden") ? "拌合站" : "拌合站");
                                $("#content").slideToggle();
                            });
                        });
                        </script>
                            <span class="shu_ban" id="toggle">拌合站</span>
                            <div class="dtree" id="content" style="display:none;">
                            <script type="text/javascript">
                                var baseUrl= getContextPath();
                                var orgid = "";
                                var orgname = "";
        						$.ajax({
        							type : "POST",
        							url : baseUrl + "/Common/getOrgTree.action",
        							async:false,
        							data : {"mixStation_Type":"0"},
        							dataType : "json",
        							success : function(data) {
        								var flag = true;
        								
        								d = new dTree('d', true);
        								for(var i = 0; i < data.length; i++) {
        									if(data[i].str_org_Type == "1" || data[i].str_org_Type == 1) {
        										d.add(data[i].i_id, data[i].i_parent_Id, data[i].str_org_Name, true, false);
        									} else {
        										d.add(data[i].i_id, data[i].i_parent_Id, 'authority', data[i].Id, data[i].str_org_Name ,false, false);
        										if(flag){
        											orgid = data[i].i_id;
        	        								orgname = data[i].str_org_Name;
        											//默认指向列表中第一个
        											$("#locationText").text(data[i].str_org_Name);
        											flag = false;
        										}
        									}
        								}
        								document.write(d);
        			                    d.openAll();
        							}
        						}); 
                                </script>
                        </div>
                        </div>
                    <form action="" method="get" class="sousuo">
                      <label>级配编号：</label>
                      <input type="text" class="search_input rightwbj" id="grade_Code">
                      <label>产品名称：</label>
                      <input type="text" id="material_Name" class="search_input rightwbj">
                      <label>产品型号：</label>
                      <input type="text" id="material_Model" class="search_input rightwbj">
                      <input name="" type="button" value="查&nbsp;&nbsp;询" class="btncha" onclick="search();">
                  </form>
                  <div class="clear"></div>
                    </div>
            	<div class="table-b">
                	<div class="luru"><a href="javascript:void(0)" class="hvr-icon-forward globalLoginBtn" onclick="getMaterialName()">新增录入</a></div>
            	  	<div class="table-c-right table-b-right">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-hover" id="list">
                         <thead>
                          <tr>
                            <th scope="col" class="mbpb_xh">序号</th>
                            <th scope="col" class="mbpb_bh">级配编号</th>
                            <th scope="col">产品名称-型号</th>
                            <th scope="col" class="mbpb_cjr">创建人</th>
                            <th scope="col">创建时间</th>
                            <th scope="col" class="mbpb_bz">备注</th>
                            <th scope="col">操作</th>
                          </tr>
                         </thead>
                         <tbody></tbody>
                          
                          </table>
					 	<div class="page">
                        
                  	</div>
              	</div>
            	
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="bottom">
	<a href="#">关于我们</a>|<a href="#">联系方式</a>Copyright (c) 2018 neiroad.com. All Rights Reserved V 1.8.5 京ICP备13015845号-1
</div>

<div class="mbpb_tanc k1000 fud" id="mydiv1" style="position:absolute;display:none;margin-left:80px;">
                            	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="zi12">
                            	  
                            	  <tr>
                                    <td width="8%" class="ydq">1级配编号：</td>
                                    <td width="16%" class="zdq"><span id="yjph"></span></td>
                                    <td width="9%" class="ydq">产品名称：</td>
                                    <td width="37%" class="zdq"><span id="cpmc"></span></td>
                                    <td width="18%" class="ydq">&nbsp;</td>
                                    <td width="12%" class="zdq">&nbsp;</td>
                          	        </tr>
                            	  </table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="sbj xbj">
                                  <thead>
                                  <tr class="dise">
                                    <td><img src="/MixingStation/resources/images/jipeitou_2.jpg" width="103" height="30"></td>
                                    <td width="6%">53.0</td>
                                    <td width="6%">37.5</td>
                                    <td width="6%">31.5</td>
                                    <td width="6%">26.5</td>
                                    <td width="6%">19.0</td>
                                    <td width="6%">16.0</td>
                                    <td width="6%">13.2</td>
                                    <td width="6%">9.5</td>
                                    <td width="6%">4.75</td>
                                    <td width="6%">2.36</td>
                                    <td width="6%">1.18</td>
                                    <td width="6%">0.6</td>
                                    <td width="6%">0.3</td>
                                    <td width="6%">0.15</td>
                                    <td width="6%">0.075</td>
                                  </tr>
                                  </thead>
                                  
                                  <tbody id="tab">
                  <tr>
                    <td class="mbphb_luru_dise">1#仓</td>
                    <td><span type="text" class="inputb" id="101_1"></span>
                       <input type="hidden" value="" id="lN1" ">
                    </td>
                        <td><span type="text" class="inputb" id="101_2" name="d_a37_5"></span></td>
                        <td><span  id="101_3"></span></td>
                        <td><span  id="101_4" ></span></td>
                        <td><span  id="101_5" ></span></td>
                        <td><span  id="101_6" ></span></td>
                        <td><span  id="101_7" ></span></td>
                        <td><span  id="101_8" ></span></td>
                        <td><span  id="101_9" ></span></td>
                        <td><span  id="101_10" ></span></td>
                        <td><span  id="101_11" ></span></td>
                        <td><span  id="101_12" ></span></td>
                        <td><span  id="101_13" ></span></td>
                        <td><span  id="101_14" ></span></td>
                        <td><span  id="101_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">2#仓</td>
                     <td><span  id="102_1" name="d_a53"></span>
                     <span type="hidden" value="" id="lN2" name="str_warehouse_Num">
                     </td>
                        <td><span  id="102_2" ></span></td>
                        <td><span  id="102_3" ></span></td>
                        <td><span  id="102_4" ></span></td>
                        <td><span  id="102_5" ></span></td>
                        <td><span  id="102_6" ></span></td>
                        <td><span  id="102_7" ></span></td>
                        <td><span  id="102_8" ></span></td>
                        <td><span  id="102_9" ></span></td>
                        <td><span  id="102_10" ></span></td>
                        <td><span  id="102_11" ></span></td>
                        <td><span  id="102_12" ></span></td>
                        <td><span  id="102_13" ></span></td>
                        <td><span  id="102_14" ></span></td>
                        <td><span  id="102_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">3#仓</td>
                        <td><span  id="103_1" name="d_a53"></span>
                        <span type="hidden" value="" id="lN3" name="str_warehouse_Num">
                        </td>
                        <td><span  id="103_2" ></span></td>
                        <td><span  id="103_3" ></span></td>
                        <td><span  id="103_4" ></span></td>
                        <td><span  id="103_5" ></span></td>
                        <td><span  id="103_6" ></span></td>
                        <td><span  id="103_7" ></span></td>
                        <td><span  id="103_8" ></span></td>
                        <td><span  id="103_9" ></span></td>
                        <td><span  id="103_10" ></span></td>
                        <td><span  id="103_11" ></span></td>
                        <td><span  id="103_12" ></span></td>
                        <td><span  id="103_13" ></span></td>
                        <td><span  id="103_14" ></span></td>
                        <td><span  id="103_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">4#仓</td>
                        <td><span  id="104_1" name="d_a53"></span>
                        <span type="hidden" value="" id="lN4" name="str_warehouse_Num">
                        </td>
                        <td><span  id="104_2" ></span></td>
                        <td><span  id="104_3" ></span></td>
                        <td><span  id="104_4" ></span></td>
                        <td><span  id="104_5" ></span></td>
                        <td><span  id="104_6" ></span></td>
                        <td><span  id="104_7" ></span></td>
                        <td><span  id="104_8" ></span></td>
                        <td><span  id="104_9" ></span></td>
                        <td><span  id="104_10" ></span></td>
                        <td><span  id="104_11" ></span></td>
                        <td><span  id="104_12" ></span></td>
                        <td><span  id="104_13" ></span></td>
                        <td><span  id="104_14" ></span></td>
                        <td><span  id="104_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">5#仓</td>
                        <td><span  id="105_1" name="d_a53"></span>
                        <span type="hidden" value="" id="lN5" name="str_warehouse_Num">
                        </td>
                        <td><span  id="105_2" ></span></td>
                        <td><span  id="105_3" ></span></td>
                        <td><span  id="105_4" ></span></td>
                        <td><span  id="105_5" ></span></td>
                        <td><span  id="105_6" ></span></td>
                        <td><span  id="105_7" ></span></td>
                        <td><span  id="105_8" ></span></td>
                        <td><span  id="105_9" ></span></td>
                        <td><span  id="105_10" ></span></td>
                        <td><span  id="105_11" ></span></td>
                        <td><span  id="105_12" ></span></td>
                        <td><span  id="105_13" ></span></td>
                        <td><span  id="105_14" ></span></td>
                        <td><span  id="105_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">6#仓</td>
                        <td><span  id="106_1" name="d_a53"></span>
                        <span type="hidden" value="" id="lN6" name="str_warehouse_Num">
                        </td>
                        <td><span  id="106_2" ></span></td>
                        <td><span  id="106_3" ></span></td>
                        <td><span  id="106_4" ></span></td>
                        <td><span  id="106_5" ></span></td>
                        <td><span  id="106_6" ></span></td>
                        <td><span  id="106_7" ></span></td>
                        <td><span  id="106_8" ></span></td>
                        <td><span  id="106_9" ></span></td>
                        <td><span  id="106_10" ></span></td>
                        <td><span  id="106_11" ></span></td>
                        <td><span  id="106_12" ></span></td>
                        <td><span  id="106_13" ></span></td>
                        <td><span  id="106_14" ></span></td>
                        <td><span  id="106_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">冷粉仓</td>
                    <td><span  id="107_1" name="d_a53"></span>
                    <span type="hidden" value="" id="lNH" name="str_warehouse_Num">
                    </td>
                        <td><span  id="107_2" ></span></td>
                        <td><span  id="107_3" ></span></td>
                        <td><span  id="107_4" ></span></td>
                        <td><span  id="107_5" ></span></td>
                        <td><span  id="107_6" ></span></td>
                        <td><span  id="107_7" ></span></td>
                        <td><span  id="107_8" ></span></td>
                        <td><span  id="107_9" ></span></td>
                        <td><span  id="107_10" ></span></td>
                        <td><span  id="107_11" ></span></td>
                        <td><span  id="107_12" ></span></td>
                        <td><span  id="107_13" ></span></td>
                        <td><span  id="107_14" ></span></td>
                        <td><span  id="107_15" ></span></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">热粉仓</td>
                    <td><span  id="108_1" name="d_a53"></span>
                    <span type="hidden" value="" id="lNC" name="str_warehouse_Num">
                    </td>
                        <td><span  id="108_2" ></span></td>
                        <td><span  id="108_3" ></span></td>
                        <td><span  id="108_4" ></span></td>
                        <td><span  id="108_5" ></span></td>
                        <td><span  id="108_6" ></span></td>
                        <td><span  id="108_7" ></span></td>
                        <td><span  id="108_8" ></span></td>
                        <td><span  id="108_9" ></span></td>
                        <td><span  id="108_10" ></span></td>
                        <td><span  id="108_11" ></span></td>
                        <td><span  id="108_12" ></span></td>
                        <td><span  id="108_13" ></span></td>
                        <td><span  id="108_14" ></span></td>
                        <td><span  id="108_15" ></span></td>
                  </tr>
                  <tr>
                  <td class="mbphb_luru_dise">上限</td>
                  <td><span  id="109_1" name="d_a53"></span>
                  <span type="hidden" value="" id="lMax" name="str_warehouse_Num">
                  </td>
                        <td><span  id="109_2" ></span></td>
                        <td><span  id="109_3" ></span></td>
                        <td><span  id="109_4" ></span></td>
                        <td><span  id="109_5" ></span></td>
                        <td><span  id="109_6" ></span></td>
                        <td><span  id="109_7" ></span></td>
                        <td><span  id="109_8" ></span></td>
                        <td><span  id="109_9" ></span></td>
                        <td><span  id="109_10" ></span></td>
                        <td><span  id="109_11" ></span></td>
                        <td><span  id="109_12" ></span></td>
                        <td><span  id="109_13" ></span></td>
                        <td><span  id="109_14" ></span></td>
                        <td><span  id="109_15" ></span></td>
                  </tr>
                  <tr>
                     <td class="mbphb_luru_dise">下限</td>
                   <td><span  id="110_1" name="d_a53"></span>
                   <span type="hidden" value="" id="lMin" name="str_warehouse_Num">
                   </td>
                        <td><span  id="110_2" ></span></td>
                        <td><span  id="110_3" ></span></td>
                        <td><span  id="110_4" ></span></td>
                        <td><span  id="110_5" ></span></td>
                        <td><span  id="110_6" ></span></td>
                        <td><span  id="110_7" ></span></td>
                        <td><span  id="110_8" ></span></td>
                        <td><span  id="110_9" ></span></td>
                        <td><span  id="110_10" ></span></td>
                        <td><span  id="110_11" ></span></td>
                        <td><span  id="110_12" ></span></td>
                        <td><span  id="110_13" ></span></td>
                        <td><span  id="110_14" ></span></td>
                        <td><span  id="110_15" ></span></td>
                  </tr>
                  </tbody>
               </table>
		 </div>
<div class="modal fade" id="loginModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="tan_dx_title">
            	<span><img src="/MixingStation/resources/images/bi.png" width="16" height="16"></span>
		 	 	<h3>级配信息</h3>
                <button type="button" id="login_close" class="close" data-dismiss="modal"><span aria-hidden="true" class="tan_close">×</span></button>
          	</div>
            <div class="tan_dx_txt">
            	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mbphb_luru">
                  <tr>
                    <td width="20%" align="right">级配编号：</td>
                    <td width="20%">
                    <input name="i_id"  type="hidden" id="i_id" value="">
                    <input name="str_grade_Code" onKeyUp="value=value.replace(/[\W]/g,'')" type="text" id="str_grade_Code" placeholder="输入物料编码" required="required" maxlength="40">
                    <span style="color:red">*</span></td>
                    <td width="10%" align="right">产品名称：</td>
                     <td width="20%"><select class="sekuan" id="str_material_Name" size="1" onchange="getOutName()" >
                      </select><span style="color:red">&nbsp;*</span></td>
                    <td width="10%" align="right">产品型号：</td>
                    <td width="10%"><select class="sekuan" name="i_product_Id" id="str_material_Model" required="required" >
                      </select></td>
                      <td width="10%">&nbsp;<span style="color:red">*</span></td>
                  </tr>
                  <tr>
                    <td width="20%" align="right">备注：</td>
                    <td height="60" colspan="6" valign="bottom">
                    <textarea name="str_remarks" cols="40" class="textkuan" rows="2" id="str_remarks"></textarea></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="jipei_jia sbj mbphb_bg">
                <thead>
                  <tr class="mbphb_luru_dise">
                    <td width="10%"><img src="/MixingStation/resources/images/jipeitou.jpg" width="91" height="39"></td>
                    <td width="6%">53.0</td>
                    <td width="6%">37.5</td>
                    <td width="6%">31.5</td>
                    <td width="6%">26.5</td>
                    <td width="6%">19.0</td>
                    <td width="6%">16.0</td>
                    <td width="6%">13.2</td>
                    <td width="6%">9.5</td>
                    <td width="6%">4.75</td>
                    <td width="6%">2.36</td>
                    <td width="6%">1.18</td>
                    <td width="6%">0.6</td>
                    <td width="6%">0.3</td>
                    <td width="6%">0.15</td>
                    <td width="6%">0.075</td>
                  </tr>
                  </thead>
                  <form id="add">
                  <tbody id="tab">
                  <tr>
                    <td class="mbphb_luru_dise">1#仓</td>
                    <td><input type="text" class="inputb" id="1_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                       <input type="hidden" value="" id="N1" name="str_warehouse_Num">
                    </td>
                        <td><input type="text" class="inputb" id="1_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="1_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">2#仓</td>
                     <td><input type="text" class="inputb" id="2_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                     <input type="hidden" value="" id="N2" name="str_warehouse_Num">
                     </td>
                        <td><input type="text" class="inputb" id="2_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="2_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">3#仓</td>
                        <td><input type="text" class="inputb" id="3_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                        <input type="hidden" value="" id="N3" name="str_warehouse_Num">
                        </td>
                        <td><input type="text" class="inputb" id="3_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="3_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">4#仓</td>
                        <td><input type="text" class="inputb" id="4_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                        <input type="hidden" value="" id="N4" name="str_warehouse_Num">
                        </td>
                        <td><input type="text" class="inputb" id="4_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="4_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">5#仓</td>
                        <td><input type="text" class="inputb" id="5_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                        <input type="hidden" value="" id="N5" name="str_warehouse_Num">
                        </td>
                        <td><input type="text" class="inputb" id="5_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="5_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">6#仓</td>
                        <td><input type="text" class="inputb" id="6_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                        <input type="hidden" value="" id="N6" name="str_warehouse_Num">
                        </td>
                        <td><input type="text" class="inputb" id="6_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="6_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">冷粉仓</td>
                    <td><input type="text" class="inputb" id="7_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                    <input type="hidden" value="" id="NH" name="str_warehouse_Num">
                    </td>
                        <td><input type="text" class="inputb" id="7_2" placeholder="请输入" name="d_a37_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_3" placeholder="请输入" name="d_a31_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_4" placeholder="请输入" name="d_a26_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_5" placeholder="请输入" name="d_a19"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_6" placeholder="请输入" name="d_a16"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_7" placeholder="请输入" name="d_a13_2"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_8" placeholder="请输入" name="d_a9_5"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_9" placeholder="请输入" name="d_a4_75"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_10" placeholder="请输入" name="d_a2_36"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_11" placeholder="请输入" name="d_a1_18"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_12" placeholder="请输入" name="d_a0_6"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_13" placeholder="请输入" name="d_a0_3"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_14" placeholder="请输入" name="d_a0_15"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="7_15" placeholder="请输入" name="d_a0_075"  maxlength="15"/></td>
                  </tr>
                  <tr>
                    <td class="mbphb_luru_dise">热粉仓</td>
                    <td><input type="text" class="inputb" id="8_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                    <input type="hidden" value="" id="NC" name="str_warehouse_Num">
                    </td>
                        <td><input type="text" class="inputb" id="8_2" placeholder="请输入" name="d_a37_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_3" placeholder="请输入" name="d_a31_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_4" placeholder="请输入" name="d_a26_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_5" placeholder="请输入" name="d_a19"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_6" placeholder="请输入" name="d_a16"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_7" placeholder="请输入" name="d_a13_2"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_8" placeholder="请输入" name="d_a9_5"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_9" placeholder="请输入" name="d_a4_75"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_10" placeholder="请输入" name="d_a2_36"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_11" placeholder="请输入" name="d_a1_18"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_12" placeholder="请输入" name="d_a0_6"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_13" placeholder="请输入" name="d_a0_3"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_14" placeholder="请输入" name="d_a0_15"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="8_15" placeholder="请输入" name="d_a0_075"  maxlength="15"/></td>
                  </tr>
                  <tr>
                  <td class="mbphb_luru_dise">上限</td>
                  <td><input type="text" class="inputb" id="9_1" placeholder="请输入" name="d_a53"  maxlength="15"/>
                  <input type="hidden" value="" id="Max" name="str_warehouse_Num">
                  </td>
                        <td><input type="text" class="inputb" id="9_2" placeholder="请输入" name="d_a37_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_3" placeholder="请输入" name="d_a31_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_4" placeholder="请输入" name="d_a26_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_5" placeholder="请输入" name="d_a19"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_6" placeholder="请输入" name="d_a16"      maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_7" placeholder="请输入" name="d_a13_2"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_8" placeholder="请输入" name="d_a9_5"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_9" placeholder="请输入" name="d_a4_75"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_10" placeholder="请输入" name="d_a2_36"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_11" placeholder="请输入" name="d_a1_18"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_12" placeholder="请输入" name="d_a0_6"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_13" placeholder="请输入" name="d_a0_3"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_14" placeholder="请输入" name="d_a0_15"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="9_15" placeholder="请输入" name="d_a0_075"  maxlength="15"/></td>
                  </tr>
                  <tr>
                     <td class="mbphb_luru_dise">下限</td>
                   <td><input type="text" class="inputb" id="10_1" placeholder="请输入" name="d_a53" maxlength="15"/>
                   <input type="hidden" value="" id="Min" name="str_warehouse_Num">
                   </td>
                        <td><input type="text" class="inputb" id="10_2" placeholder="请输入" name="d_a37_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_3" placeholder="请输入" name="d_a31_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_4" placeholder="请输入" name="d_a26_5"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_5" placeholder="请输入" name="d_a19"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_6" placeholder="请输入" name="d_a16"     maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_7" placeholder="请输入" name="d_a13_2"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_8" placeholder="请输入" name="d_a9_5"    maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_9" placeholder="请输入" name="d_a4_75"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_10" placeholder="请输入" name="d_a2_36"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_11" placeholder="请输入" name="d_a1_18"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_12" placeholder="请输入" name="d_a0_6"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_13" placeholder="请输入" name="d_a0_3"   maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_14" placeholder="请输入" name="d_a0_15"  maxlength="15"/></td>
                        <td><input type="text" class="inputb" id="10_15" placeholder="请输入" name="d_a0_075" maxlength="15"/></td>
                  </tr>
                  </tbody>
                  </form>
                </table>

            	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="btn_xg">
                  <tr>
                    <td align="center"><input type="button" name="button" id="button" value="保&nbsp;&nbsp;存" class="btn_bc" onclick="addOrUpdate();"></td>
                  </tr>
              </table>

       	  </div>
		</div>
	</div>
</div>	

<script src="../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/js/modal.js"></script>
<script type="text/javascript" src="../resources/DataTables/datatables.js"></script>
<script type="text/javascript" src="../resources/js/pbgl_2.js"></script>
</body>
</html>
