<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>动态数据监控中心</title>
<link href="./resources/css/style1.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="main">
	<div class="left">
    	<ul id = "leftTab">
        	<!-- <li>
            	<h4><span></span>一工区沥青拌合机</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li>
            <li>
            	<h4><span></span>一工区水稳拌合机</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>95.85%</span></p>
            </li>
            <li>
            	<h4><span></span>二工区沥青拌合机</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li>
            <li>
            	<h4><span></span>二工区水稳拌合机</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li>
            <li>
            	<h4><span></span>三工区沥青拌合机</h4>
                <p><b>生产总量(t)：</b><span>12.50t</span></p>
                <p><b>合格率：</b><span>98.89%</span></p>
            </li>
            <li>
            	<h4><span></span>三工区水稳拌合机</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li>
            <li>
            	<h4><span></span>三工区水泥拌合机1</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li>
            <li>
            	<h4><span></span>三工区水泥拌合机2</h4>
                <p><b>生产总量(t)：</b><span>15.87t</span></p>
                <p><b>合格率：</b><span>96.00%</span></p>
            </li> -->
        </ul>
    </div>
    <div class="right">
    	<div class="title">
        	<span class="title_1">动态数据监控中心</span>
            <span class="title_2">——珲乌高速吉林至机场段改扩建工程</span>
            <span class="title_3"><a href="#">启动视频监控</a></span>
        </div>
        <div class="map">
        	<div class="map_img">
            <img src="./resources/images/bigScreen/map2.svg" class="map_img_img" />
            <img src="./resources/images/bigScreen/bhj.gif" class="imgwei1" />
            <img src="./resources/images/bigScreen/bhj.gif" class="imgwei3" />
            <img src="./resources/images/bigScreen/bhj.gif" class="imgwei5" />
            <img src="./resources/images/bigScreen/bhj.gif" class="imgwei7" />
            <img src="./resources/images/bigScreen/bhj.gif" class="imgwei8" />
            </div>
        	<div class="map_tb">
            	<div class="map_tb_1">
                    <div id="wrapper">
                        <div id="slider-wrap">
                              <ul id="slider">
                                 <li>
                                     <div class="" id="chartmain1" style="width: 300px;height:400px;">
                   	  	             </div>
                   	  	  
                   	  	                  
                                 </li>
                                        
                              </ul>  
                              <!--<div id="pagination-wrap"><ul></ul></div>	-->		 
                      </div>
                  </div>           
   			  </div>           
            <!--     <div class="map_tb_2">
                	<div id="focus">
                        <div id="focus_bg"> 
                      <div class="" id="chartmain2" style="width: 300px;height:400px;">
                   	  	</div>  </div>
                        <div id="focus_show"></div>
                      
                       
                    </div>
                </div> -->
              <div class="map_tb_tb">
                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                	<thread>
                      <tr class="dise">
                        <th width="36%">拌合站名称</th>
                        <th width="18%">当日产量(kg)</th>
                        <th width="15%">总批次</th>
                        <th width="13%">合格批次</th>
                        <th width="18%">合格率</th>
                      </tr>
                   </thread>
                   <tbody id="maintab"></tbody>
                    </table>

              </div>
              
                 <div class="" id="chartmain2" style="width: 600px;height:400px;">
                  </div> 
                   	  	                  	  	             
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="copy">技术支持：京澎(北京)科技有限公司</div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./resources/bigScreen/js/scrolltext.js"></script>
<script type="text/javascript" src="./resources/bigScreen/js/jquery3.3.1.min.js"></script>
<script type="text/javascript" src="./resources/js/echarts.min.js"></script>
<script type="text/javascript" src="./resources/js/common.js"></script>
<script type="text/javascript" src="./resources/js/bigScreen/index1.js"></script>



</body>
</html>
