<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>水泥混凝土抗压强度试验（立方体）自动采集数据</title>
<link href="../resources/css2/record.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript"
	src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
</head>
<body>
	<div class="jilu_main_s" style="position: relative; height: auto;">
		<div id="qrCode" class="dingwei"
			style="position: relative; float: right;"></div>
		<div id="istestcollection" class="jilu_title"
			style="padding-top: 60px;">水泥混凝土抗压强度试验（立方体）自动采集数据</div>
		<div id="istestblind" class="jilu_title" style="display: none;">水泥混凝土抗压强度(立方体)试验检测报告</div>
		<div>
			<table border="0" cellpadding="0" cellspacing="0" class="table_2">
				<tr>
					<td width="68%">试验室名称：<label id="testRoomName"></label></td>
				</tr>
			</table>
		</div>
		<div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="table_3">
				<tr>
					<td width="16%">试验依据</td>
					<td width="34%"><label id="testRules"></label></td>
					<td width="16%">试验日期</td>
					<td width="34%"><label id="testDate"></label></td>
				</tr>
				<tr>
					<td>样品名称</td>
					<td><label id="sampleName"></label></td>
					<td>试件个数</td>
					<td><label id="sampleCount"></label></td>
				</tr>
				<tr>
					<td>试件尺寸</td>
					<td><label id="sampleSize"></label></td>
					<td>试验员</td>
					<td><label id="testOperator"></label></td>
				</tr>
				<tr>
					<td>强度等级</td>
					<td><label id="strength_Grade"></label></td>
					<td>成型日期</td>
					<td><label id="moldDate"></label></td>
				</tr>
			</table>
		</div>
		<div id="show">
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="table_4">
				<tr>
					<td width="16%">施工单位</td>
					<td width="16%"><label id="constructionUnit"></label></td>
					<td width="18%">工程名称</td>
					<td width="16%"><label id="engineeringName"></label></td>
					<td width="18%">工程部位/用途</td>
					<td width="16%"><label id="purpose"></label></td>
				</tr>
			</table>
		</div>
		<div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="table_4">
				<thead>
					<tr>
						<td width="9%" rowspan="2">试件编号</td>
						<td width="10%" rowspan="2">极限荷载（kN）</td>
						<td colspan="2">抗压强度（MPa）</td>
						<td colspan="2" width="8%" rowspan="2">占设计强度百分比（%）</td>
						<td width="44%" colspan="3" rowspan="2">图表</td>
					</tr>
					<tr>
						<td width="9%">单值</td>
						<td width="9%">测定值</td>
					</tr>
				</thead>
				<tbody id="list"></tbody>
			</table>

		</div>
		<div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="table_4">
				<tr>
					<td width="16%">平均抗压强度（MPa）</td>
					<td width="84%"><label id="avgCompStrength"></label></td>
				</tr>
			</table>
		</div>
		<div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="table_7 xbj1">
				<tr>
					<td width="16%" align="center">结果判定</td>
					<td width="84%"><label id="isQualifiedTest"></label></td>
				</tr>
			</table>
		</div>
		<div class="fanhui">
			<a href="#" onclick="javascript:window.history.back();">返回>></a>
		</div>
	</div>
	<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
	<script type="text/javascript"
		src="../resources/DataTables/datatables.js"></script>
	<script type="text/javascript" src="../resources/js/shiyan02.js"></script>
	<script type="text/javascript" src="../resources/blindSampleJs/common.js"></script>
</body>
</html>
