<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>珲乌高速吉林至机场段改扩建工程管理平台</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="top">
	<div class="row">
        <div class="topleft">珲乌高速吉林至机场段改扩建工程管理平台</div>
        <div class="topright">
            <a href="user.html" class="userid">wangdanwei</a><span>你好！</span>
            <a href="userinfo.html" class="shezhi">用户管理</a>
            <a href="../Common/out.html" class="out">安全退出</a>
        </div>
	</div>
</div>
<div class="container-fluid content">
	<div class="row leftbj">
    	<div class="leftnav">
        	<ul>
            	<li><a href="#"><span class="i_1"></span><b>首页</b></a></li>
                <li class="focus2"><a href="lq_1.html"><span class="i_2"></span><b>沥青</b></a></li>
                <li><a href="pbgl_1.html"><span class="i_3"></span><b>水泥</b></a></li>
                <li><a href="scgl_1.html"><span class="i_4"></span><b>水稳</b></a></li>
            </ul>
        </div>
        <div class="rightcon">
        	<div class="rightcon_wz">
                <div class="location">您的位置：沥青 > 生产数据</div>
                <!--<div class="time">2018年4月10日 16:28:53</div>-->
            </div>
            <div class="rightcon_content">
                <div class="lq_main sbj0">
                    <div class="lq_biao gdt">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-2000">
                          <tr>
                            <th rowspan="2">序号</th>
                            <th rowspan="2">拌合站名称</th>
                            <th rowspan="2" class="cjtime">采集时间</th>
                            <th rowspan="2" class="sgdw_count">施工单位</th>
                            <th rowspan="2">工程部位/用途</th>
                            <th rowspan="2">拌合设备名称</th>
                            <th rowspan="2">产品名称/型号</th>
                            <th rowspan="2">生产配合比编号</th>
                            <th rowspan="2">级配编号</th>
                            <th rowspan="2">拌合温度(°C)</th>
                            <th rowspan="2">盘重量(KG)</th>
                            <th colspan="6">骨料仓(KG)</th>
                            <th colspan="2">粉料(KG)</th>
                            <th>沥青(KG)</th>
                            <th colspan="2">外掺剂(KG)</th>
                            <th rowspan="2">分析结果</th>
                          </tr>
                          <tr>
                            <th>1#仓</th>
                            <th>2#仓</th>
                            <th>3#仓</th>
                            <th>4#仓</th>
                            <th>5#仓</th>
                            <th>6#仓</th>
                            <th>冷粉</th>
                            <th>热粉</th>
                            <th>沥青</th>
                            <th>外掺剂1</th>
                            <th>外掺剂2</th>
                          </tr>
                          
                          <tr>
                            <td>1</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>2</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                        <tr>
                            <td>3</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                          </tr>
                          
                          <tr class="gray">
                            <td>4</td>
                            <td>拌合站1</td>
                            <td><a href="#" class="globalLoginBtn">2017/9/2 17:26:00</a></td>
                            <td title="吉林宏运公路工程有限责任公司" class="sgdw_count">吉林宏运公路工程有限责任公司</td>
                            <td>上面层</td>
                            <td>2000型拌合机</td>
                            <td>沥青混合料AC-25</td>
                            <td>MB002</td>
                            <td>MB002</td>
                            <td>100</td>
                            <td>5000.00</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>100.00</td>
                            <td>300.00</td>
                            <td>300.00</td>
                            <td>400.00</td>
                            <td>600.00</td>
                            <td>600.00</td>
                            <td>正常</td>
                  		</tr>
                		</table>

       	  			</div>
				</div>
			</div>
		</div>	
</div>

<div class="bottom">
	<a href="#">关于 我们</a>|<a href="#">联系方式</a>Copyright (c) 2018 neiroad.com. All Rights Reserved V 1.8.5 京ICP备13015845号-1
</div>

<div class="modal fade" id="loginModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="tan_dx_title">
            	<span><img src="images/chakan.png" width="16" height="16"></span>
		 	 	<h3>生产数据明细</h3>
                <button type="button" id="login_close" class="close" data-dismiss="modal"><span aria-hidden="true" class="tan_close">×</span></button>
          	</div>
            <div class="tan_dx_txt2">
            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="15%" align="right">生产配合比编号：</td>
                    <td width="10%">SCP004</td>
                    <td width="10%" align="right">级配编号：</td>
                    <td width="18%">S04-AC-13C-01</td>
                    <td width="12%" class="ydq">产品名称/型号：</td>
                    <td width="16%">混合沥青料AC-20</td>
                    <td width="10%">盘重量(kg)：</td>
                    <td width="9%">3978.80</td>
                  </tr>
                </table>
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#cj" data-toggle="tab">采集数据明细</a></li>
                    <li><a href="#sf" data-toggle="tab">筛分通过率</a></li>
                    <li><a href="#xl" data-toggle="tab">下料趋势图</a></li>
                    <li><a href="#xhh" data-toggle="tab">原材料消耗</a></li>
            	</ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in active" id="cj">
                    	
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="sbj juzhong bk">
                          <tr class="dise">
                            <td width="12%">&nbsp;</td>
                            <td width="8%">1#仓</td>
                            <td width="8%">2#仓</td>
                            <td width="8%">3#仓</td>
                            <td width="8%">4#仓</td>
                            <td width="8%">5#仓</td>
                            <td width="8%">6#仓</td>
                            <td width="8%">冷粉</td>
                            <td width="8%">热粉</td>
                            <td width="8%">沥青</td>
                            <td width="8%">外掺剂1</td>
                            <td width="8%">外掺剂2</td>
                          </tr>
                          <tr>
                            <td class="dise">采集重量</td>
                            <td>1763.00</td>
                            <td>721.00</td>
                            <td>565.00</td>
                            <td>490.00</td>
                            <td>39.00</td>
                            <td>0.00</td>
                            <td>182.00</td>
                            <td>0.00</td>
                            <td>218.80</td>
                            <td>0.00</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td class="dise">生产配比</td>
                            <td>47.00</td>
                            <td>17.00</td>
                            <td>15.00</td>
                            <td>14.00</td>
                            <td>2.00</td>
                            <td>0.00</td>
                            <td>5.00</td>
                            <td>0.00</td>
                            <td>5.80</td>
                            <td>0.00</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td class="dise">采集占比</td>
                            <td>46.88</td>
                            <td>19.17</td>
                            <td>15.02</td>
                            <td>13.03</td>
                            <td>1.04</td>
                            <td>&nbsp;</td>
                            <td>4.84</td>
                            <td>&nbsp;</td>
                            <td>5.82</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="dise">生产配比重量</td>
                            <td>1767.52</td>
                            <td>639.32</td>
                            <td>564.10</td>
                            <td>526.50</td>
                            <td>75.21</td>
                            <td>0.00</td>
                            <td>188.03</td>
                            <td>0.00</td>
                            <td>218.12</td>
                            <td>0.00</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td class="dise">实际偏差</td>
                            <td>-0.12</td>
                            <td>2.17</td>
                            <td>0.02</td>
                            <td>-0.97</td>
                            <td>-0.96</td>
                            <td>&nbsp;</td>
                            <td>-0.16</td>
                            <td>&nbsp;</td>
                            <td>0.02</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                	</div>
                	<div class="tab-pane fade" id="sf">
                    	<table width="100%" width="100%" border="0" cellpadding="0" cellspacing="0" class="sbj">
                          <tr>
                            <td><img src="images/01.jpg" width="884" height="267"></td>
                          </tr>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="xl">
                    	<table width="100%" width="100%" border="0" cellpadding="0" cellspacing="0" class="sbj">
                          <tr>
                            <td><img src="images/01.jpg" width="290" height="267"></td>
                            <td><img src="images/01.jpg" width="290" height="267"></td>
                            <td><img src="images/01.jpg" width="290" height="267"></td>
                         </tr>
                        </table>
                    </div>
                     <div class="tab-pane fade" id="xhh">
                    	<table width="100%" width="100%" border="0" cellpadding="0" cellspacing="0" class="sbj juzhong bk">
                          <tr class="dise">
                          <td>序号</td>
                          <td>材料名称/型号</td>
                          <td>消耗量(kg)</td>
                          </tr>
                          <tr>
                          <td>1</td>
                          <td>碎石/AC-25</td>
                          <td>5200.00</td>
                          </tr>
                          <tr>
                          <td>2</td>
                          <td>碎石/AC-20</td>
                          <td>5200.00</td>
                          </tr>
                        </table>
                    </div>
              </div>
          </div>
		</div>
	</div>
</div>	

<script src="js/jquery3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/modal.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>
