body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:71px;
  background:inherit;
  background-color:rgba(48, 48, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:71px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:28px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:51px;
}
#u2196 {
  position:absolute;
  left:42px;
  top:10px;
  width:77px;
  height:51px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2198 {
  position:absolute;
  left:146px;
  top:24px;
  width:162px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2200 {
  position:absolute;
  left:0px;
  top:71px;
  width:100px;
  height:44px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2202 {
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2202_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2202.selected {
}
#u2203 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2204 {
  position:absolute;
  left:0px;
  top:207px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2204_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2204.selected {
}
#u2205 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2206 {
  position:absolute;
  left:0px;
  top:299px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2206_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2206.selected {
}
#u2207 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2208 {
  position:absolute;
  left:0px;
  top:391px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2208_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2208.selected {
}
#u2209 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:0px;
  top:483px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2210_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2210.selected {
}
#u2211 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2212 {
  position:absolute;
  left:0px;
  top:575px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2212_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2212.selected {
}
#u2213 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2214 {
  position:absolute;
  left:0px;
  top:667px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2214_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2214.selected {
}
#u2215 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2216 {
  position:absolute;
  left:0px;
  top:851px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2216_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2216.selected {
}
#u2217 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:0px;
  top:943px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2218_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2218.selected {
}
#u2219 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2220 {
  position:absolute;
  left:0px;
  top:1035px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2220_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2220.selected {
}
#u2221 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:272px;
}
#u2222 {
  position:absolute;
  left:100px;
  top:71px;
  width:1820px;
  height:272px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:128px;
  width:1816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2224 {
  position:absolute;
  left:0px;
  top:759px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u2224_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2224.selected {
}
#u2225 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
