body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:403px;
}
#u0 {
  position:absolute;
  left:303px;
  top:285px;
  width:810px;
  height:403px;
}
#u1 {
  position:absolute;
  left:2px;
  top:194px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:799px;
  top:546px;
  width:80px;
  height:29px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
