body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:71px;
  background:inherit;
  background-color:rgba(48, 48, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:71px;
}
#u701 {
  position:absolute;
  left:2px;
  top:28px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:51px;
}
#u702 {
  position:absolute;
  left:42px;
  top:10px;
  width:77px;
  height:51px;
}
#u703 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u704 {
  position:absolute;
  left:146px;
  top:24px;
  width:162px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:0px;
  top:71px;
  width:100px;
  height:44px;
}
#u707 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u708 {
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u708_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u708.selected {
}
#u709 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:0px;
  top:207px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u710_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u710.selected {
}
#u711 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:0px;
  top:299px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u712_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u712.selected {
}
#u713 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u714 {
  position:absolute;
  left:0px;
  top:391px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u714_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u714.selected {
}
#u715 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:0px;
  top:483px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u716_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u716.selected {
}
#u717 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:0px;
  top:575px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u718_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u718.selected {
}
#u719 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u720 {
  position:absolute;
  left:0px;
  top:667px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u720_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u720.selected {
}
#u721 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:0px;
  top:851px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u722_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u722.selected {
}
#u723 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:0px;
  top:943px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u724_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u724.selected {
}
#u725 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:0px;
  top:1035px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u726_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u726.selected {
}
#u727 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:0px;
  top:759px;
  width:100px;
  height:92px;
  font-size:15px;
  color:#FFFFFF;
}
#u728_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u728.selected {
}
#u729 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:107px;
}
#u731 {
  position:absolute;
  left:148px;
  top:171px;
  width:203px;
  height:107px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFF00;
}
#u732 {
  position:absolute;
  left:2px;
  top:46px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:54px;
  background:inherit;
  background-color:rgba(4, 69, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u733 {
  position:absolute;
  left:213px;
  top:198px;
  width:119px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFF00;
}
#u734 {
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:107px;
}
#u735 {
  position:absolute;
  left:391px;
  top:171px;
  width:203px;
  height:107px;
}
#u736 {
  position:absolute;
  left:2px;
  top:46px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:107px;
}
#u737 {
  position:absolute;
  left:632px;
  top:171px;
  width:203px;
  height:107px;
}
#u738 {
  position:absolute;
  left:2px;
  top:46px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:107px;
}
#u739 {
  position:absolute;
  left:873px;
  top:171px;
  width:203px;
  height:107px;
}
#u740 {
  position:absolute;
  left:2px;
  top:46px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1395px;
  height:90px;
}
#u741 {
  position:absolute;
  left:100px;
  top:71px;
  width:1395px;
  height:90px;
}
#u742 {
  position:absolute;
  left:2px;
  top:37px;
  width:1391px;
  visibility:hidden;
  word-wrap:break-word;
}
